<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impresoras por edificio</title>
</head>
<body>
    <h1 style="margin-top:50px;">Impresoras del Edificio {{building}}</h1>
    <h4>Cantidad: {{totalByBuilding }}</h4>
    {{> table printers=printers}}
</body>
</html>