<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printers by Brand</title>
</head>
<body>
    <h1 style="margin-top:50px;">Impresoras de la marca {{brand}}</h1>
    <h4>Cantidad: {{totalByBrand}}</h4>
      {{> table printers=printers}}
</body>
</html>