<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printers by Model</title>
</head>
<body>
    <h1 style="margin-top:50px;">Impresoras del modelo {{brand}} {{model}}</h1>
    <h4>Cantidad: {{totalByBrandAndModel}}</h4>
      {{> table printers=printers}}
</body>
</html>